body{
	background-color : #0EBDB3;
}
.container{
	width : 1200px;
	margin: 20px auto;
	
   
}

a{
    color: inherit;
    text-decoration: underline;
}

.wrapper,
.header nav,
.footer nav {
 width: 640px;
 margin: 0 auto;
}

header.call-to-action,
section p {
 width: 440px;
 margin: 0 auto;
 text-align: center;
}


nav li a {
 text-decoration: none;
 padding: 5px 10px;    
 display: block;
 border-radius: 3px;
 color: #fff;
 display: inline;
 font-size: 1.3em;    
}


.header{
    display: block;
    width: 100%;
    height: 40px;
    background: #016d66;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 0;
    margin-top: 0;

  }
li{
	display : inline;
}
.name{
	width : 250px;
	height : 250;
	font-size: 3em;
   font-family: Calibri, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color : #FFF;
   text-align : center;
   display: flex;
   align-items: center;
   
}
h2{
	font-size: 3em;
   font-family: Calibri, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color : #016d66;
}
.rank{
	height : 100;
	width : 98px;
}
.buttonStyle{
	margin-left: 0.5cm;
	width : 150px;
	height : 150;
	background-color : #FFF;
	font-size: 3em;
   font-family: Calibri, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color : #016d66;
   
}
.buttonEnd{
	margin-left: 0.5cm;
	width : 280px;
	height : 150;
	background-color : #FFF;
	font-size: 3em;
   font-family: Calibri, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color : #016d66;
}


/*
  Hide radio button (the round disc)
*/
input[type=radio] {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    width : 140px;
	 height : 100;
	 margin: 20px;
    color : #016d66;
    text-align : center;
    font-size: 3em;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #e7e7e7;
    border-color: #ddd;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
   background-image: none;
    background-color:#d0d0d0;
}
